@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=23d67d1ac7128aa149c9858fbbed925c'); /* IE9 */
  src: url('iconfont.eot?t=23d67d1ac7128aa149c9858fbbed925c#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=23d67d1ac7128aa149c9858fbbed925c') format('woff2'),
  url('iconfont.woff?t=23d67d1ac7128aa149c9858fbbed925c') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=23d67d1ac7128aa149c9858fbbed925c') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=23d67d1ac7128aa149c9858fbbed925c#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ez-icon-arrowDown:before {
  content: "\e001";
}
.ez-icon-clear:before {
  content: "\e002";
}
.ez-icon-copy:before {
  content: "\e003";
}
.ez-icon-enter:before {
  content: "\e004";
}
.ez-icon-insert:before {
  content: "\e005";
}
.ez-icon-loading:before {
  content: "\e006";
}
.ez-icon-mouse:before {
  content: "\e007";
}
.ez-icon-tablet:before {
  content: "\e008";
}
.ez-icon-collect:before {
  content: "\e009";
}
.ez-icon-dark:before {
  content: "\e00a";
}
.ez-icon-language:before {
  content: "\e00b";
}
.ez-icon-mail:before {
  content: "\e00c";
}
.ez-icon-notice:before {
  content: "\e00d";
}
.ez-icon-play:before {
  content: "\e00e";
}
.ez-icon-search:before {
  content: "\e00f";
}
.ez-icon-Vector:before {
  content: "\e011";
}
.ez-icon-nav:before {
  content: "\e012";
}
.ez-icon-edit:before {
  content: "\e013";
}
.ez-icon-manage:before {
  content: "\e014";
}
.ez-icon-github:before {
  content: "\e015";
}
.ez-icon-tg:before {
  content: "\e016";
}
.ez-icon-x:before {
  content: "\e017";
}
.ez-icon-close:before {
  content: "\e01b";
}
.ez-icon-light:before {
  content: "\e01c";
}
.ez-icon-ic:before {
  content: "\e01d";
}
.ez-icon-eth:before {
  content: "\e01e";
}
.ez-icon-google:before {
  content: "\e01f";
}
.ez-icon-metamask:before {
  content: "\e020";
}
.ez-icon-select:before {
  content: "\e021";
}
.ez-icon-down:before {
  content: "\e022";
}
.ez-icon-code:before {
  content: "\e023";
}
.ez-icon-condition:before {
  content: "\e024";
}
.ez-icon-contract:before {
  content: "\e025";
}
.ez-icon-display:before {
  content: "\e026";
}
.ez-icon-form:before {
  content: "\e027";
}
.ez-icon-http:before {
  content: "\e028";
}
.ez-icon-interaction:before {
  content: "\e029";
}
.ez-icon-left:before {
  content: "\e02a";
}
.ez-icon-ui:before {
  content: "\e02b";
}
.ez-icon-wallet:before {
  content: "\e02c";
}
.ez-icon-variables:before {
  content: "\e02d";
}
.ez-icon-add:before {
  content: "\e02e";
}
.ez-icon-ethereum:before {
  content: "\e030";
}
.ez-icon-info:before {
  content: "\e031";
}
.ez-icon-more:before {
  content: "\e032";
}
.ez-icon-ic2:before {
  content: "\e034";
}
.ez-icon-fold:before {
  content: "\e036";
}
.ez-icon-unfold:before {
  content: "\e037";
}
.ez-icon-drag:before {
  content: "\e038";
}
.ez-icon-time:before {
  content: "\e039";
}
.ez-icon-save:before {
  content: "\e03a";
}
.ez-icon-constant:before {
  content: "\e03b";
}
.ez-icon-global:before {
  content: "\e03c";
}
.ez-icon-arrowDown2:before {
  content: "\e03d";
}
.ez-icon-clear2:before {
  content: "\e03e";
}
.ez-icon-discord:before {
  content: "\e03f";
}
.ez-icon-close2:before {
  content: "\e040";
}
.ez-icon-reduce:before {
  content: "\e041";
}
.ez-icon-push:before {
  content: "\e042";
}
.ez-icon-ui-wrong:before {
  content: "\e043";
}
.ez-icon-ui-true:before {
  content: "\e044";
}
.ez-icon-collect2:before {
  content: "\e045";
}
.ez-icon-refresh:before {
  content: "\e04d";
}
.ez-icon-setting:before {
  content: "\e04e";
}
.ez-icon-contracts:before {
  content: "\e04f";
}
.ez-icon-open:before {
  content: "\e050";
}
.ez-icon-offline:before {
  content: "\e051";
}
.ez-icon-delete:before {
  content: "\e052";
}
.ez-icon-quick:before {
  content: "\e053";
}
.ez-icon-frozen:before {
  content: "\e054";
}
.ez-icon-medium:before {
  content: "\e055";
}
.ez-icon-menu:before {
  content: "\e056";
}
.ez-icon-home:before {
  content: "\e059";
}
.ez-icon-create:before {
  content: "\e05a";
}
.ez-icon-push-dark:before {
  content: "\e05b";
}
.ez-icon-reduce-dark:before {
  content: "\e05c";
}
.ez-icon-iframecode:before {
  content: "\e05d";
}
.ez-icon-imgUpload:before {
  content: "\e05e";
}
.ez-icon-upload:before {
  content: "\e05f";
}
.ez-icon-bsc:before {
  content: "\e061";
}
.ez-icon-bitfinity:before {
  content: "\e062";
}
.ez-icon-ii:before {
  content: "\e063";
}
.ez-icon-me:before {
  content: "\e064";
}
.ez-icon-nfid:before {
  content: "\e065";
}
.ez-icon-plug:before {
  content: "\e066";
}
.ez-icon-upload2:before {
  content: "\e067";
}
.ez-icon-ai:before {
  content: "\e068";
}
.ez-icon-bsc2:before {
  content: "\e069";
}
.ez-icon-rainbow:before {
  content: "\e06a";
}
.ez-icon-hashkey2:before {
  content: "\e082";
}
.ez-icon-hashkey:before {
  content: "\e085";
}
