@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=df9ef7a4980cf1314cc1938bf89685ef'); /* IE9 */
  src: url('iconfont.eot?t=df9ef7a4980cf1314cc1938bf89685ef#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=df9ef7a4980cf1314cc1938bf89685ef') format('woff2'),
  url('iconfont.woff?t=df9ef7a4980cf1314cc1938bf89685ef') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=df9ef7a4980cf1314cc1938bf89685ef') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=df9ef7a4980cf1314cc1938bf89685ef#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ez-arrowDown:before {
  content: "\e001";
}
.ez-clear:before {
  content: "\e002";
}
.ez-copy:before {
  content: "\e003";
}
.ez-enter:before {
  content: "\e004";
}
.ez-insert:before {
  content: "\e005";
}
.ez-loading:before {
  content: "\e006";
}
.ez-mouse:before {
  content: "\e007";
}
.ez-tablet:before {
  content: "\e008";
}
.ez-collect:before {
  content: "\e009";
}
.ez-dark:before {
  content: "\e00a";
}
.ez-language:before {
  content: "\e00b";
}
.ez-mail:before {
  content: "\e00c";
}
.ez-notice:before {
  content: "\e00d";
}
.ez-play:before {
  content: "\e00e";
}
.ez-search:before {
  content: "\e00f";
}
.ez-Vector:before {
  content: "\e011";
}
.ez-nav:before {
  content: "\e012";
}
.ez-edit:before {
  content: "\e013";
}
.ez-manage:before {
  content: "\e014";
}
.ez-github:before {
  content: "\e015";
}
.ez-tg:before {
  content: "\e016";
}
.ez-x:before {
  content: "\e017";
}
.ez-close:before {
  content: "\e01b";
}
.ez-light:before {
  content: "\e01c";
}
.ez-ic:before {
  content: "\e01d";
}
.ez-eth:before {
  content: "\e01e";
}
.ez-google:before {
  content: "\e01f";
}
.ez-metamask:before {
  content: "\e020";
}
.ez-select:before {
  content: "\e021";
}
.ez-down:before {
  content: "\e022";
}
.ez-code:before {
  content: "\e023";
}
.ez-condition:before {
  content: "\e024";
}
.ez-contract:before {
  content: "\e025";
}
.ez-display:before {
  content: "\e026";
}
.ez-form:before {
  content: "\e027";
}
.ez-http:before {
  content: "\e028";
}
.ez-interaction:before {
  content: "\e029";
}
.ez-left:before {
  content: "\e02a";
}
.ez-ui:before {
  content: "\e02b";
}
.ez-wallet:before {
  content: "\e02c";
}
.ez-variables:before {
  content: "\e02d";
}
.ez-add:before {
  content: "\e02e";
}
.ez-ethereum:before {
  content: "\e030";
}
.ez-info:before {
  content: "\e031";
}
.ez-more:before {
  content: "\e032";
}
.ez-ic2:before {
  content: "\e034";
}
.ez-fold:before {
  content: "\e036";
}
.ez-unfold:before {
  content: "\e037";
}
.ez-drag:before {
  content: "\e038";
}
.ez-time:before {
  content: "\e039";
}
.ez-save:before {
  content: "\e03a";
}
.ez-constant:before {
  content: "\e03b";
}
.ez-global:before {
  content: "\e03c";
}
.ez-arrowDown2:before {
  content: "\e03d";
}
.ez-clear2:before {
  content: "\e03e";
}
.ez-discord:before {
  content: "\e03f";
}
.ez-close2:before {
  content: "\e040";
}
.ez-reduce:before {
  content: "\e041";
}
.ez-push:before {
  content: "\e042";
}
.ez-ui-wrong:before {
  content: "\e043";
}
.ez-ui-true:before {
  content: "\e044";
}
.ez-collect2:before {
  content: "\e045";
}
.ez-refresh:before {
  content: "\e04d";
}
.ez-setting:before {
  content: "\e04e";
}
.ez-contracts:before {
  content: "\e04f";
}
.ez-open:before {
  content: "\e050";
}
.ez-offline:before {
  content: "\e051";
}
.ez-delete:before {
  content: "\e052";
}
.ez-quick:before {
  content: "\e053";
}
.ez-frozen:before {
  content: "\e054";
}
.ez-medium:before {
  content: "\e055";
}
.ez-menu:before {
  content: "\e056";
}
.ez-home:before {
  content: "\e059";
}
.ez-create:before {
  content: "\e05a";
}
.ez-push-dark:before {
  content: "\e05b";
}
.ez-reduce-dark:before {
  content: "\e05c";
}
.ez-iframecode:before {
  content: "\e05d";
}
.ez-imgUpload:before {
  content: "\e05e";
}
.ez-upload:before {
  content: "\e05f";
}
.ez-bsc:before {
  content: "\e061";
}
.ez-bitfinity:before {
  content: "\e062";
}
.ez-ii:before {
  content: "\e063";
}
.ez-me:before {
  content: "\e064";
}
.ez-nfid:before {
  content: "\e065";
}
.ez-plug:before {
  content: "\e066";
}
.ez-upload2:before {
  content: "\e067";
}
.ez-ai:before {
  content: "\e068";
}
.ez-bsc2:before {
  content: "\e069";
}
.ez-rainbow:before {
  content: "\e06a";
}
.ez-hashkey2:before {
  content: "\e082";
}
.ez-hashkey:before {
  content: "\e085";
}
